<div class="sidebar">
    <div>
      <div class="logo">
        <img src="assets/images/Logo to.png" alt="Tiệm Sách Nhà Em" />
      </div>
      <ul class="menu">
        <li id="menu-overview" onclick="location.href='index.html'">
          <img src="assets/images/Tổng quan trắng.png" width="20" alt="Tổng quan" />
          Tổng quan
        </li>
        <li id="menu-products" onclick="location.href='products.html'">
          <img src="assets/images/Quản lý sản phẩm.png" width="20" alt="Sản phẩm" />
          Quản lý sản phẩm
        </li>
        <li id="menu-orders" onclick="location.href='orders.html'">
          <img src="assets/images/quản lý đơn hàng.png" width="20" alt="Đơn hàng" />
          Quản lý đơn hàng
        </li>
        <li id="menu-customers" onclick="location.href='customers.html'">
          <img src="assets/images/quản lý khách hàng.png" width="20" alt="Khách hàng" />
          Quản lý khách hàng
        </li>
        <li id="menu-statistics" onclick="location.href='statistics.html'">
          <img src="assets/images/Thống kê.png" width="20" alt="Thống kê" />
          Thống kê
        </li>
      </ul>
    </div>
  
    <div class="account-info">
    <div class="profile-section">
      <div class="profile-avatar"></div>
      <div style="font-size: 14px;">Tài khoản của tôi</div>
      <div style="font-size: 13px;"><b>ADMIN</b></div>
    </div>
    <div class="logout">
      <img src="assets/images/Frame.png" width="18" />
      <span>Đăng xuất</span>
    </div>
  </div>
  </div>