<footer class="footer">
    <div class="container footer-content">
        <div class="footer-main-section">
            <div class="footer-brand">
                <img class="footer-logo-img" src="https://placehold.co/317x269" alt="Footer Logo Tiệm Sách"/>
                <div>
                    <div class="footer-brand-name">Tiệm sách nhà em</div>
                    <div class="footer-brand-description">
                        Điểm đến lý tưởng để khám phá thế giới sách. Tìm cuốn sách tiếp theo của bạn tại đây.
                    </div>
                </div>
            </div>
            <div class="footer-links-group">
                <div class="footer-links-column">
                    <div class="footer-links-title">Truy Cập Nhanh</div>
                    <div class="footer-links-list">
                        <a href="#" class="footer-link">Trang chủ</a>
                        <a href="#" class="footer-link">Sản phẩm</a>
                        <a href="#" class="footer-link">Giới thiệu</a>
                        <a href="#" class="footer-link">Liên hệ</a>
                    </div>
                </div>
                <div class="footer-links-column">
                    <div class="footer-links-title">Điều khoản</div>
                    <div class="footer-links-list">
                        <a href="#" class="footer-link">Điều khoản sử dụng</a>
                        <a href="#" class="footer-link">Chính sách bảo mật thông tin</a>
                        <a href="#" class="footer-link">Trợ giúp</a>
                        <a href="#" class="footer-link">Điều khoản khách hàng</a>
                    </div>
                </div>
                <div class="footer-links-column">
                    <div class="footer-contact-title">Liên hệ</div>
                    <div class="footer-contact-list">
                        <div class="footer-contact-item">
                            <svg class="icon" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M8.99999 1.5C5.96285 1.5 3.49999 4.0189 3.49999 7.125C3.49999 10.9342 8.51913 16.0923 8.64413 16.2442C8.70562 16.3183 8.79499 16.3612 8.88974 16.3657C8.98449 16.3703 9.07612 16.3363 9.14736 16.2707C9.17361 16.2487 14.5 10.2667 14.5 7.125C14.5 4.0189 11.9617 1.5 8.99999 1.5ZM8.99999 9C7.89542 9 6.99999 8.10457 6.99999 7C6.99999 5.89543 7.89542 5 8.99999 5C10.1046 5 11 5.89543 11 7C11 8.10457 10.1046 9 8.99999 9Z"/></svg>
                            <span>123 Đường Sách, Quận 1, TP. Hồ Chí Minh</span>
                        </div>
                        <div class="footer-contact-item">
                            <svg class="icon" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M3.60001 2.25001C3.60001 2.05109 3.67903 1.86033 3.8182 1.72117C3.95737 1.58201 4.14814 1.50001 4.35001 1.50001H13.65C13.8519 1.50001 14.0426 1.58201 14.1818 1.72117C14.321 1.86033 14.4 2.05109 14.4 2.25001V15.75C14.4 15.9489 14.321 16.1397 14.1818 16.2788C14.0426 16.418 13.8519 16.5 13.65 16.5H4.35001C4.14814 16.5 3.95737 16.418 3.8182 16.2788C3.67903 16.1397 3.60001 15.9489 3.60001 15.75V2.25001ZM12.9 11.25H5.10001V12H12.9V11.25ZM12.9 8.25001H5.10001V9.00001H12.9V8.25001ZM10.5 5.25001H5.10001V6.00001H10.5V5.25001Z"/></svg>
                            <span>+1 123 456 7878</span>
                        </div>
                        <div class="footer-contact-item">
                            <svg class="icon" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 4.5L9 9.75L16.5 4.5M1.5 13.5H16.5V4.5H1.5V13.5Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            <span>tiemsachnhaem@mail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            © 2025 Tiệm sách nhà em. All rights reserved.
        </div>
    </div>
</footer>