<!-- Header -->
<header class="header-component">
    <div class="header-top">
      <div class="header-top-inner">
        <div>
          <i class="fas fa-map-marker-alt"></i>
          <span>123 Đường Sách, Quận 1, TP. Hồ Chí Minh</span>
        </div>
        <div>
          <i class="fas fa-phone-alt"></i>
          <span>+1 123 456 7878</span>
        </div>
        <div>
          <i class="fas fa-envelope"></i>
          <span>tiemsachnhaem@gmail.com</span>
        </div>
      </div>
    </div>
  
    <div class="logo-section">
      <img src="../assets/images/logo.png" alt="Logo">
      <h2>Tiệm sách nhà em</h2>
    </div>
  
    <nav class="main-header container">
      <div class="nav-links">
        <a href="#">Trang chủ</a>
        <a href="#">Sản phẩm</a>
        <a href="#">Giới thiệu</a>
        <a href="#">Liên hệ</a>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Tìm kiếm sản phẩm">
      </div>
      <div class="icons">
        <i class="fas fa-user"></i>
        <i class="fas fa-shopping-cart"></i>
      </div>
    </nav>
    <hr class="header-divider">
  </header>